*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.main {
  display: flex;
  flex-direction: column;
}

body,
.main {
  min-height: 100vh;
  margin: 0;
  text-align: left;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: 'Noto Sans', sans-serif;
  font-size: 16px;
}

header .info-edit {
  cursor: pointer;
  margin: 10px 10px 0 0;
  padding: 10px 20px;
  width: 100px;
  align-self: flex-end;
}

.info-container {
  display: flex;
  flex-direction: column;
  text-align: start;
  padding-left: 2rem;
}
header .info-name {
  width: 50%;
  font-weight: 500;
  margin: 10px 0 1rem;
}
.info-age,
.info-about {
  margin-bottom: 0.5rem;
}

.info-ava {
  width: 100px;
  height: 130px;
  object-fit: cover;
  overflow: hidden;
}
header .card-text:last-child {
  margin-bottom: 1rem;
}

.edit-ava {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.grap {
  padding: 20px;
}
